<%= form_with(model: @post) do |form| %>
  <h1 class="new_page">新規投稿<h1>
  <div class="post_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>